%h1 "Listing Wiki"
%table
  %tr
    %th
      "Name"
    %th
  - @articles.each do |article|
    %tr
      %td
        = link_to article, article
      %td
        = link_to 'Edit', edit_article_path(article), :class => "btn info"
        = link_to 'Destroy', article,  method: :delete, :class => "btn danger"


= link_to 'New Wiki', new_article_path, :class => "btn success"
