.wiki
  .page-header
    %h1
      = @article.name
  .row
    .span16
      .well
        %div
          %p.muted
            = @article.content.html_safe


      = link_to 'Edit', edit_article_path(@article)
      = link_to 'Back', articles_path

