- if params[:controller] == "home" and false
  .sidebar
    .well
      %h5 Sidebar
      %ul
        %li
          = link_to "Link", "#"
        %li
          = link_to "Link", "#"

      %h5 Sidebar
      %ul
        %li
          = link_to "Link", "#"
        %li
          = link_to "Link", "#"

