// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-header{
  h1{
    .title_link{
      float: right;
      font: {
        size: 12px;
        weight: normal;
      }
    }
  }
}

.tabs {
  li {
    &.right {
      float: right;
    }
  }
}

.pills {
  li {
    &.right {
      float: right;
    }
  }
}
